<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brainfluence.psychiatry">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".OfflineFirebase"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Psychiatry">
        <activity android:name=".TeachersListShowActivity"
            android:screenOrientation="portrait"
            android:label="Teachers List"
            ></activity>
        <activity android:name=".DoctorsListShowActivity"
            android:screenOrientation="portrait"
            android:label="Doctors List"
            />
        <activity
            android:name=".QuestionnaireActivity"
            android:label="Initial Questionnaire"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DepressionCheckerActivity"
            android:label="Depression Assessment Questionnaire"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TextShowActivity"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Psychiatry.NoActionBar" />
        <activity
            android:name=".DoctorRegActivity"
            android:label="Sign Up as Doctor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TeacherRegActivity"
            android:label="Sign Up as Teacher"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudentRegActivity"
            android:label="Sign Up as Student"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationActivity"
            android:label="Sign Up"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Psychiatry.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>